In [5]:
import pandas as pd

archivo = pd.read_csv("datos.csv")

archivo

  nombre apellido  edad
0  joaco  svoboda    36
1   euge    soler    32
2  lucas    dalto    99